%div.blogpost
  %img.blog-cover-img{:src => "#{blog_cover_img}" }
  %div.blog-contents
    %h1.blog-title
      = blog_title
    %p.blog-date
      = blog_date
    %div.blog-connections
      = blog_connections

    %p.blog-abstract-paragraph
      = blog_abstract

    %div.blog-detail-content
      = blog_content
