%div.blogpost{:class => "#{blog_tags.reduce("") {|ls, tag| ls + " " + tag}}", :id => "#{blog_id}"}
  %img.blog-cover-img{:src => "#{blog_cover_img}" }
  %div.blog-contents
    %h1.blog-title
      = blog_title
    %p.blog-date
      = blog_date
    %div.blog-connections
      = blog_connections

    %p.blog-abstract-paragraph
      = blog_abstract

    %div.blog_tags
      - blog_tags.each do |tag|
        %p
          = tag

    %div.blog-detail-content
      = blog_content
